/*3*/
*{
	margin: 0;
}

.container {
	width: 90%;
	margin: 0 auto;
	margin-top: 100px; 
}

.imgContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

img {
	width: 20vw;
	height: 20vw;
	margin-bottom: 10px;
}

button {
	margin-top: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 1px solid grey; 
	padding: 10px;
	cursor: pointer;
}

button:hover {
	color: pink;
}

@media screen and (min-width: 1000px) {
	.container {
	width: 50%;
	}

	img {
	width: 11vw;
	height: 11vw;
	}
}